* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#0b012e, #20032e);
    margin: 0; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.title{
    color:white;
    font-size: 50px;
    font-weight: bold;
    padding: 30px;
    text-decoration: underline red;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: flex;
    background: #61340C;
    box-shadow: 0 0 30px;
    padding: 3.5vw 1vw 2vw 1vw;
    border-radius: 0 0 1vw 1vw;
    margin-top: 20px;
}

.white {
    width: 8vw;
    height: 25.5vw;
    background-color: whitesmoke;
    border: 1px solid #222;
    border-radius: 0 0 0.7vw 0.7vw;
    outline: 0;
}
    
.black {	
    margin-left: -2.25vw;
    margin-right: -2.25vw;
    width: 4.5vw;
    height: 15.5vw;
    background-color: #000;
    border: none;
    border-radius: 0 0 0.7vw 0.7vw;
    outline: 0;
    z-index: 2;
}
    
.white:active, .active {
        box-shadow: inset -2px -2px 8px rgba(0,0,0,0.5), inset 2px 2px 4px rgba(0,0,0,0.2), inset 2px 2px 4px rgba(0,0,0,0.1);
        border: 0;
        background-color: rgba();
}			  
        
.black:active, .active {
         box-shadow: -2px 0 5px rgba(0,0,0,0.5), 0 0 5px rgba(255,255,255,0.5), 1px 1px 2px rgba(100,100,100,1);
         background-color: rgba();
}

